.review__section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review__section h1{
    font-family: var(--font-family);
}

.review__section-reviews{
    display: flex;
    flex-direction: row;
}

.review__section-review_testimonial{
    padding:  2rem 9rem;
    text-align: left;

}

.review__section-review_testimonial p{
    font-family: var(--font-family);
    color: var(--color-text);

    line-height: 28px;
    margin: 2rem 0;
}

.review__section-image img{
    border-radius: 50%;
    width:100px;
    height:100px;
    margin-top: 2rem;
}

.review__section-image p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

@media screen and (max-width: 1050px){
    .review__section-reviews{
        display: flex;
        flex-direction: column;
    }

    .review__section-review_testimonial{
        padding:  2rem 8rem;
        text-align: left;
    
    }
}

@media screen and (max-width: 650px){
    .review__section-reviews{
        display: flex;
        flex-direction: column;
    }

    .review__section-review_testimonial{
        padding:  2rem 5rem;
        text-align: left;
    
    }
}